# Machine Learning Nanodegree Capstone Project

Every year, approximately 7.6 million companion animals end up in US shelters. Many animals are given up as unwanted by their owners, while others are picked up after getting lost or taken out of cruelty situations. Many of these animals find forever families to take them home, but just as many are not so lucky. 

Approximately 2.7 million shelter animals are euthanized in the US every year.

In this multi-class classification problem, a dataset of intake information (breed, color, sex, age, etc.) provided by the Austin Animal Center will be used to train a supervised learning algorithm. The trained model will then be utilized to help predict the outcome (adoption, died, euthanasia, return to owner or transfer) of future shelter animals.

Knowing the predicted outcomes can help shelters identify and understand trends in animal outcomes. Such insights could help shelters focus their resources on specific animals who might need extra help finding a new home. For example, if the predicted outcome for a certain animal or breed in a shelter is euthanasia, the shelter could align their efforts to help see these euthanasia candidates find a new home.

I intend to follow the workflow outline below as closely as possible:

- Step 1: Problem Preparation
  - Load libraries
  - Load dataset

- Step 2: Data Summarization
  - Descriptive statistics such as .info(), .describe(), .head() and .shape
  - Data visualization such as histograms, density plots, box plots, scatter matrix and correlation matrix

- Step 3: Data Preparation
  - Data cleaning such as handling missing values
  - Feature preparation and data transforms such as one-hot encoding

- Step 4: Evaluate Algorithm(s)
  - Split-out validation dataset
  - Test options and evaluation metric
  - Spot check and compare algorithms

- Step 5: Improve Algorithm(s)
  - Algorithm tuning
  - Compare selected algorithm against Ensembles

- Step 6: Model Finalization
  - Predictions on validation / test dataset
  - Save model for later use

## Problem Preparation

In this step, I am loading the necessary Python libraries and dataset.

In [55]:
# Load libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import util
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
%matplotlib inline

# Load dataset
filepath = 'data/train.csv'
data = pd.read_csv(filepath)

## Data Exploration

In [ ]:
# Displaying the first five records of the dataset
data.head()

In [ ]:
# Displaying the dimensions of the dataset
print('Number of observations: %s' % data.shape[0])
print('Number of attributes: {}'.format(data.shape[1]))

In [ ]:
# Displaying detailed information about dataset
data.info()

In [ ]:
# Identify which observations are null for the AgeuponOutcome feature
data.AgeuponOutcome[data.AgeuponOutcome.isnull()]

In [ ]:
# Identify which observation is null for the SexuponOutcome feature
data.SexuponOutcome[data.SexuponOutcome.isnull()]

In [ ]:
# Display class distribution
data.groupby('OutcomeType').size()

## Data Preparation

In [56]:

data = data.dropna(subset=['AgeuponOutcome', 'SexuponOutcome'])
y = data[['OutcomeType']]
data = data.drop(['AnimalID', 'Name', 'DateTime', 'OutcomeType', 'OutcomeSubtype'], axis=1)

In [57]:
data.AgeuponOutcome = data.AgeuponOutcome.apply(util.convertAgeToDays)

scaler = MinMaxScaler()
data_minmax_transform = pd.DataFrame(data=data)
numerical = ['AgeuponOutcome']

data_minmax_transform[numerical] = scaler.fit_transform(data[numerical])

In [58]:
data_final = pd.get_dummies(data_minmax_transform)

In [40]:
data_final.head()

,AgeuponOutcome,AnimalType_Cat,AnimalType_Dog,SexuponOutcome_Intact Female,SexuponOutcome_Intact Male,SexuponOutcome_Neutered Male,SexuponOutcome_Spayed Female,SexuponOutcome_Unknown,Breed_Abyssinian Mix,Breed_Affenpinscher Mix,...,Color_White/Yellow,Color_White/Yellow Brindle,Color_Yellow,Color_Yellow Brindle,Color_Yellow Brindle/Blue,Color_Yellow Brindle/Tan,Color_Yellow Brindle/White,Color_Yellow/Black,Color_Yellow/White,Color_Yellow/Yellow
0,0.050000,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0.050000,1,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.100000,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0.002877,1,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0.100000,0,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [59]:
X_train, X_test, y_train, y_test = train_test_split(data_final, y, test_size=0.37, random_state=42)

In [61]:
model = LogisticRegression()
model.fit(X_train, y_train)
model.score(X_train, y_train)

//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
//anaconda3/lib/python3.7/site-packages/sklearn/utils/validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
//anaconda3/lib/python3.7/site-packages/sklearn/linear_model/logistic.py:469: FutureWarning: Default multi_class will be changed to 'auto' in 0.22. Specify the multi_class option to silence this warning.
  "this warning.", FutureWarning)

0.6510370238307482